{% extends 'core/layout/base.html' %}
{% block content %}

    <!-- page content -->
    <div id="stat"></div>
    <div class="right_col" role="main">
        <div class="row">
            <div class="col-md-12">
                <p class="text-dark font-weight-bold h4">Select Client ID/Broker:</p>
                <div class="x_panel">
                    <div class="col-md-12 pt-2 d-flex">
                        <div class=""><i class="fa fa-warning pr-3  text-primary fa-2x "></i></div>

                    </div>

                </div>
                <div class="col-md-12">
                    <p class=" font-weight-bold h5">Select account:</p>
                    <div class="row">
                        {% for obj in demates %}


                            <div class="x_panel tiles col-md-3 col-sm-6 m-2 pt-4 rounded">
                                <div class="logo text-center">
                                    <img src="{{ obj.demate_img }}" alt=""
                                         class="demate_profile"
                                         style="width: 100px;  height: 100px;">
                                </div>
                                <div class="context text-center mt-1 ">
                                    <p class=" text-uppercase font-weight-bold mt-1">
                                        {{ obj.demate_title }}
                                    </p>
                                    <p class="m-0">Client ID: <br> <span
                                            class="font-weight-bold">{{ obj.client_id }}</span></p>

                                    {% if obj.token_details %}

                                        <div class="text-success mt-2 ">
                                            <p class=" pb-0 mb-0"><i
                                                    class="fa fa-check-circle bg-white  text-success rounded-pill "></i>
                                                Logged in
                                            </p>
                                            <p class="pt-0">
                                                {{ obj.created_at }}
                                            </p>
                                        </div>

                                        <div class="text-success mt-2 ">
                                            <p class=" pb-0 mb-0"> Expiry
                                            </p>
                                            <p class="pt-0">
                                                {{ obj.token_details.date_expiry|date:'Y-m-d H:i' }}
                                            </p>
                                        </div>


                                        <div class="mt-2 text-primary h6">
                                            <a href="javascript:;"
                                               onClick="LoginDemate('{{ obj.package_id }}', '{{ obj.api_key }}', '{{ obj.secret_key }}')"
                                               class="font-weight-bold text-primary"><u>Re-Generate access
                                                token?</u></a>
                                        </div>
                                    {% else %}
                                        <button type="button"
                                                onClick="LoginDemate('{{ obj.package_id }}', '{{ obj.api_key }}', '{{ obj.secret_key }}')"
                                                class="btn btn-primary btn-block mt-2">Login
                                        </button>
                                    {% endif %}


                                </div>
                            </div>



                        {% endfor %}


                    </div>
                </div>

            </div>
        </div>


    </div>


{% endblock %}

{% block javascript %}
    <script type="text/javascript">

        function LoginDemate(package_id, api_key, secret_key) {

            if (package_id === '1') {
                var url = "https://login.paytmmoney.com/merchant-login?apiKey=" + api_key + "&state=records";
                window.open(url, "_blank");
            }
            if (package_id === '2') {
                $.get("/core/kotak_neo/?id=" + package_id, function (data) {
                    data = data.data;
                    package_id = parseInt(package_id);
    
                    $('#demate_id').val(id);
                    $('#package_id').val(package_id);
                    console.log(data);
    
                  
    
                });
    
               
            }

        }

    </script>
{% endblock %}