{% extends 'core/layout/base.html' %}
{% block content %}

    <!-- page content -->
    <div id="stat"></div>
    <div class="right_col" role="main">
        <div class="row">
            <div class="col-md-12">
                <p class="text-dark font-weight-bold h4">Select Client ID/Broker:</p>
                <div class="x_panel">
                    <div class="col-md-12 pt-2 d-flex">
                        <div class=""><i class="fa fa-warning pr-3  text-primary fa-2x "></i></div>
                        <div>
                            <p class="h5 text-dark font-weight-bold">You can add multiple client ids of the same broker
                                to a single
                                Quantiply account.</p>
                            <p class="h6"> Submit client ids & broker name along with your quantiply registered mobile
                                number at </p>
                            <p><u><a href="#" class="text-primary alert-link">support@quantiply.tech</a> </u> or <u><a
                                    href="#"
                                    class="text-primary alert-link">WhatsApp</a></u></p>
                        </div>
                    </div>

                </div>
                <div class="col-md-12">
                    <p class=" font-weight-bold h5">Select account:</p>
                    <div class="row">
                        {% for obj in demates %}

                            <div class="x_panel tiles col-md-2 col-sm-6 m-2 pt-4 rounded">
                                <div class="logo text-center">
                                    <img src="{{ obj.image }}" alt=""
                                         class="demate_profile" style="width: 100px;  height: 100px;">
                                </div>

                                <div class="context text-center mt-2 ">
                                    <p class=" text-uppercase font-weight-bold">{{ obj.title }}</p>

                                    {% if not obj.is_credentials %}
                                        <button type="button"
                                                onClick="addDemateSetup('{{ obj.id }}', '{{ obj.package_id }}')"
                                                class="btn btn-primary btn-block">Setup
                                        </button>
                                    {% endif %}
                                    {#                                    <div class="mt-2 text-primary h6">#}
                                    {#                                        <i class="fa fa-youtube-play"></i> <a href="#" class=""><u>Setup#}
                                    {#                                        tutorial</u></a>#}
                                    {#                                    </div>#}
                                </div>


                                {% if obj.is_credentials %}
                                    <p class="text-center">Client ID: <span> {{ obj.client_id }}</span></p>{% endif %}
                                {% if obj.is_credentials %}
                                    <div class="text-success text-center">
                                        <p><i class="fa fa-check-circle-o"></i> Setup Complete</p>
                                    </div>
                                {% endif %}
                                {#                                <button type="button"#}
                                {#                                        {% if obj.is_credentials %}onClick="editDemateSetup('{{ obj.id }}', '{{ obj.package_id }}')"#}
                                {#                                        {% else %}#}
                                {#                                        onClick="addDemateSetup('{{ obj.id }}', '{{ obj.package_id }}')"{% endif %}#}
                                {#                                        class="btn btn-outline-primary btn-sm  mt-2 btn-block">#}
                                {#                                    {% if obj.is_credentials %}Edit{% else %}Add{% endif %}#}
                                {#                                </button>#}
                                {% if obj.is_credentials %}
                                    <button type="button"
                                            onClick="editDemateSetup('{{ obj.id }}', '{{ obj.package_id }}')"

                                            class="btn btn-outline-primary btn-sm  mt-2 btn-block">
                                        Edit
                                    </button>
                                {% endif %}
                                {% if obj.is_credentials %}
                                    <button type="button" onClick="removeDemateSetup('{{ obj.instance_id }}')"
                                            class="btn btn-outline-primary btn-sm mt-2 btn-block">Remove
                                    </button>
                                {% endif %}


                            </div>
                        {% endfor %}


                    </div>
                </div>

            </div>
        </div>


        <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Demate Profile</h5>
                        <button type="button"
                                style="width: 50px;"
                                class="btn btn-block btn-outline-danger" data-dismiss="modal">X
                        </button>
                    </div>
                    <div class="modal-body" id="modalBody">
                        <input type="hidden" id="demate_id"/>
                        <input type="hidden" id="package_id"/>
                        <div id="loading_div"></div>
                        <div id="package_1" style="display: none">
                            <form action="post" autocomplete="off" id="package_1_form">

                                <div class="form-group row" style="background-color: #F7F7F7;">
                                    <div class="col-md-12 h5 font-weight-bold text-monospace text-uppercase">
                                        <p class=" ">follow the steps</p>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="control-label h6">1. Enter your Client ID in the text
                                            below.</label>
                                    </div>
                                    <div class="col-md-6 col-sm-9 ">
                                        <input type="text" class="grpreq form-control shadow rounded" id="client_id_1"
                                               name="client_id"
                                               placeholder="Client ID" value=""
                                               autocomplete="off"/>
                                        <div class="help-block errorDiv" id="client_id_1_error"></div>
                                    </div>
                                    <div class="col-md-9 mt-2">
                                        <label class="control-label h6">Remarks <small>(optional)</small></label>
                                    </div>
                                    <div class="col-md-4 col-sm-9 ">
                                        <input type="text" class="form-control shadow rounded" id="remarks_1"
                                               name="remarks"
                                               placeholder="Remarks" value=""
                                               autocomplete="off"/>
                                        <div class="help-block errorDiv" id="remarks_1_error"></div>
                                    </div>
                                    <div class="col-md-12 mt-3 mb-2">
                                        <label class="control-label h6">2. Copy the redirect URL shared below, into the
                                            ‘Create
                                            an
                                            app’ section. </label>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-2 col-sm-6 pt-2 h6">
                                            <label>Redirect URL:</label>
                                        </div>
                                        <div class="col-md-6 input-group">
                                            <input type="text" class="grpreq form-control" id="redirect_url_1"
                                                   name="redirect_url"
                                                   readonly
                                                   value="http://3.128.188.169/core/get_request_token/"/>
                                            <div class="help-block errorDiv" id="redirect_url_1_error"></div>
                                            <button type="button" class="btn btn-primary"
                                                    onClick="copyMe('redirect_url_1')">
                                                <i
                                                        class="fa fa-files-o text-white pt-1"></i></button>
                                        </div>
                                    </div>


                                    <div class="col-md-9 mt-3 mb-2">
                                        <label class="control-label col-md-12 col-sm-12 h6">3.Copy the API Keys and API
                                            secrets
                                            and paste in below
                                            and click ‘Save’. </label>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="col-md-9">
                                            <label class="control-label h6">Trading API - API KEYS</label>
                                        </div>
                                        <div class="col-md-6 col-sm-9 d-flex">
                                            <input type="password" autocomplete="off" class="grpreq form-control shadow"
                                                   id="api_key_1" name="api_key" autocomplete="off"
                                                   placeholder="Trading API Key"
                                                   value=""/>
                                            <div class="help-block errorDiv" id="api_key_1_error"></div>
                                            <div class="input-group-text">
                                                <a> <i onclick="showValue(this, 'api_key_1');"
                                                       class="fa fa-eye fa-eye-slash"></i></a>
                                            </div>
                                        </div>
                                        <div class="col-md-9 mt-2">
                                            <label class="control-label h6">Trading API - API SECRETY KEY</label>
                                        </div>
                                        <div class="col-md-6 col-sm-9 d-flex">
                                            <input type="password" autocomplete="off" class="grpreq form-control shadow"
                                                   id="secret_key_1" name="secret_key" autocomplete="off"
                                                   placeholder="Trading API Secret Key"
                                                   value=""/>
                                            <div class="help-block errorDiv" id="secret_key_1_error"></div>
                                            <div class="input-group-text">
                                                <a> <i onclick="showValue(this, 'secret_key_1');"
                                                       class="fa fa-eye fa-eye-slash"></i></a>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="offset-md-3 col-md-6 mb-2 mt-3 d-flex align-items-baseline">
                                        <button type="button" class="btn btn-block btn-outline-danger"
                                                data-dismiss="modal"
                                                id="closed">Close
                                        </button>
                                        <button type="button"
                                                class="btn btn-block btn-outline-primary save_button_allow"
                                                onClick="return saveUserDemateCredentials()">Save
                                        </button>
                                    </div>


                                </div>

                            </form>
                        </div>
                        <div id="package_2" style="display: none">
                            <form action="post" autocomplete="off" id="package_2_form">

                                <div class="form-group row" style="background-color: #F7F7F7;">
                                    <div class="col-md-12 h5 font-weight-bold text-monospace text-uppercase">
                                        <p class=" ">follow the steps</p>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="control-label h6">1. Enter your Client ID in the text
                                            below.</label>
                                    </div>
                                    <div class="col-md-6 col-sm-9 ">
                                        <input type="text" class="form-control shadow rounded" id="client_id_2"
                                               name="client_id"
                                               placeholder="Client ID" value=""
                                               autocomplete="off"/>
                                        <div class="help-block errorDiv" id="client_id_2_error"></div>
                                    </div>
                                    <div class="col-md-9 mt-2">
                                        <label class="control-label h6">Remarks <small>(optional)</small></label>
                                    </div>
                                    <div class="col-md-4 col-sm-9 ">
                                        <input type="text" class="form-control shadow rounded" id="remarks_2"
                                               name="remarks"
                                               placeholder="Remarks" value=""
                                               autocomplete="off"/>
                                        <div class="help-block errorDiv" id="remarks_2_error"></div>
                                    </div>


                                    <div class="col-md-9 mt-3 mb-2">
                                        <label class="control-label col-md-12 col-sm-12 h6">3.Copy the Consumer Key and
                                            Consumer secret and paste in below
                                            and click ‘Save’.</label>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="col-md-9">
                                            <label class="control-label h6">Consumer Key</label>
                                        </div>
                                        
                                        <div class="col-md-6 col-sm-9 d-flex">
                                            <input type="password" autocomplete="off" class="grpreq form-control shadow"
                                                   id="api_key_2" name="api_key" autocomplete="off"
                                                   placeholder="Trading API Key"
                                                   value=""/>
                                            <div class="help-block errorDiv" id="api_key_2_error"></div>
                                            <div class="input-group-text">
                                                <a> <i onclick="showValue(this, 'api_key_2');"
                                                       class="fa fa-eye fa-eye-slash"></i></a>
                                            </div>
                                        </div>
                                        <div class="col-md-9 mt-2">
                                            <label class="control-label h6">Consumer Secret</label>
                                        </div>
                                        <div class="col-md-6 col-sm-9 d-flex">
                                            <input type="password" autocomplete="off" class="grpreq form-control shadow"
                                                   id="secret_key_2" name="secret_key" autocomplete="off"
                                                   placeholder="Trading API Secret Key"
                                                   value=""/>
                                            <div class="help-block errorDiv" id="secret_key_2_error"></div>
                                            <div class="input-group-text">
                                                <a> <i onclick="showValue(this, 'secret_key_2');"
                                                       class="fa fa-eye fa-eye-slash"></i></a>
                                            </div>
                                        </div>

                                        <div class="col-md-9 mt-2">
                                            <label class="control-label h6">API User Name</label>
                                        </div>
                                        <div class="col-md-6 col-sm-9 d-flex">
                                            <input type="text" autocomplete="off" class="form-control shadow rounded"
                                                   id="api_username" name="api_username" autocomplete="off"
                                                   placeholder="API User Name"
                                                   value="" required/>
                                            <div class="help-block errorDiv" id="secret_key_2_error"></div>
                                          
                                        </div>
                                        <div class="col-md-9 mt-2">
                                            <label class="control-label h6">API Password</label>
                                        </div>
                                        <div class="col-md-6 col-sm-9 d-flex">
                                            <input type="password" autocomplete="off" class="grpreq form-control shadow"
                                                   id="api_password" name="api_password" autocomplete="off"
                                                   placeholder="API Password"
                                                   value=""/>
                                            <div class="help-block errorDiv" id="secret_key_2_error"></div>
                                            <div class="input-group-text">
                                                <a> <i onclick="showValue(this, 'secret_key_2');"
                                                       class="fa fa-eye fa-eye-slash"></i></a>
                                            </div>
                                        </div>
                                        <div class="col-md-9 mt-2">
                                            <label class="control-label h6">Mobile Number</label>
                                        </div>
                                        <div class="col-md-6 col-sm-9 d-flex">
                                            <input type="text" autocomplete="off" class="grpreq form-control shadow"
                                                   id="mobile_number" name="mobile_number" autocomplete="off"
                                                   placeholder="Enter Mobile Number"
                                                   value=""/>
                                            <div class="help-block errorDiv" id="secret_key_2_error"></div>
                                            
                                        </div>
                                        <div class="col-md-9 mt-2">
                                            <label class="control-label h6"> Password</label>
                                        </div>
                                        <div class="col-md-6 col-sm-9 d-flex">
                                            <input type="password" autocomplete="off" class="grpreq form-control shadow"
                                                   id="user_password" name="user_password" autocomplete="off"
                                                   placeholder="Enter password"
                                                   value=""/>
                                            <div class="help-block errorDiv" id="secret_key_2_error"></div>
                                            <div class="input-group-text">
                                                <a> <i onclick="showValue(this, 'secret_key_2');"
                                                       class="fa fa-eye fa-eye-slash"></i></a>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="offset-md-3 col-md-6 mb-2 mt-3 d-flex align-items-baseline">
                                        <button type="button" class="btn btn-block btn-outline-danger"
                                                data-dismiss="modal"
                                                id="closed">Close
                                        </button>
                                        <button type="button"
                                                class="btn btn-block btn-outline-primary save_button_allow"
                                                onClick="return saveUserDemateCredentials()">Save
                                        </button>
                                    </div>


                                </div>

                            </form>
                        </div>

                        <div id="save"></div>

                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>

    </div>


{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        function ShowDemateSetup(demate_type) {
            if (demate_type === '1') {
                $('#package_1').css('display', 'block');
                $('#package_2').css('display', 'none');
                $('.save_button_allow').css('display', 'none');

                $("#client_id_1").val('');
                $("#client_id_1").prop('disabled', true);
                $("#remarks_1").val('');
                $("#remarks_1").prop('disabled', true);
                $("#api_key_1").val('');
                $("#api_key_1").prop('disabled', true);
                $("#secret_key_1").val('');
                $("#secret_key_1").prop('disabled', true);
            }
            if (demate_type === '2') {
                $('#package_2').css('display', 'block');
                $('#package_1').css('display', 'none');
                $('.save_button_allow').css('display', 'none');


                $("#client_id_2").val('');
                $("#client_id_2").prop('disabled', true);
                $("#remarks_2").val('');
                $("#remarks_2").prop('disabled', true);
                $("#api_key_2").val('');
                $("#api_key_2").prop('disabled', true);
                $("#secret_key_2").val('');
                $("#secret_key_2").prop('disabled', true);
            }
            $('#exampleModal').modal('show', {backdrop: 'static'});

        }

        function saveUserDemateCredentials() {
            var package_type = $('#package_id').val();
            var demate_id = $('#demate_id').val();
            package_type = parseInt(package_type);

            if (package_type === 1) {
                var a = validateEntry('package_1', '');
            }
            if (package_type === 2) {
                var a = validateEntry('package_2', '');
            }

            if (a === "1") {
                ShowNotify('Error', 'Fields are required', 'error');
                return false;
            }

            if (package_type === 1) {
                var myform_id = 'package_1_form'
            }
            if (package_type === 2) {
                var myform_id = 'package_2_form'
            }

            document.getElementById('loading_div').innerHTML = "<div style='background: #fff;text-align:center'><img width='80px' src='/static/wheel.gif'/><div>";
            var myform = document.getElementById(myform_id);
            var fd = new FormData(myform);
            fd.append('csrfmiddlewaretoken', '{{csrf_token}}');
            fd.append('package_id', package_type);
            fd.append('demate_id', demate_id);
            $.ajax({
                url: "/core/add_demate_credentials/",
                data: fd,
                cache: false,
                processData: false,
                contentType: false,
                type: 'POST',
                success: function (dataofconfirm) {
                    ShowNotify('Congratulation', 'Demate Credentials are added', 'success');
                    window.location.reload();
                },
                error: function (data) {
                    document.getElementById('loading_div').innerHTML = '';
                    ShowNotify('Error', data.responseJSON.error, 'error');
                }
            });

        }

        function addDemateSetup(id, package_id) {
            package_id = parseInt(package_id);

            $('#demate_id').val(id);
            $('#package_id').val(package_id);

            if (package_id === 1) {
                $("#client_id_1").val('');
                $("#client_id_1").prop('disabled', false);
                $("#remarks_1").val('');
                $("#remarks_1").prop('disabled', false);
                $("#api_key_1").val('');
                $("#api_key_1").prop('disabled', false);
                $("#secret_key_1").val('');
                $("#secret_key_1").prop('disabled', false);

                $('#package_1').css('display', 'block');
                $('#package_2').css('display', 'none');
                $('.save_button_allow').css('display', 'block');
            }

            if (package_id === 2) {
                $('#package_2').css('display', 'block');
                $('#package_1').css('display', 'none');
                $('.save_button_allow').css('display', 'block');

                $("#client_id_2").val('');
                $("#client_id_2").prop('disabled', false);
                $("#remarks_2").val('');
                $("#remarks_2").prop('disabled', false);
                $("#api_key_2").val('');
                $("#api_key_2").prop('disabled', false);
                $("#secret_key_2").val('');
                $("#secret_key_2").prop('disabled', false);
            }
            $('#exampleModal').modal('show', {backdrop: 'static'});
        }

        function editDemateSetup(id, package_id) {
            $.get("/core/get_demate_credentials/?id=" + id, function (data) {
                data = data.data;
                package_id = parseInt(package_id);

                $('#demate_id').val(id);
                $('#package_id').val(package_id);
                console.log(data);

                if (package_id === 1) {
                    $("#client_id_1").val(data.client_id);
                    $("#client_id_1").prop('disabled', false);
                    $("#remarks_1").val(data.remarks);
                    $("#remarks_1").prop('disabled', false);
                    $("#api_key_1").val(data.api_key);
                    $("#api_key_1").prop('disabled', false);
                    $("#secret_key_1").val(data.credentials.secret_key);
                    $("#secret_key_1").prop('disabled', false);

                    $('#package_1').css('display', 'block');
                    $('#package_2').css('display', 'none');
                    $('.save_button_allow').css('display', 'block');
                }

                if (package_id === 2) {
                    $('#package_2').css('display', 'block');
                    $('#package_1').css('display', 'none');
                    $('.save_button_allow').css('display', 'block');

                    $("#client_id_2").val(data.client_id);
                    $("#client_id_2").prop('disabled', false);
                    $("#remarks_2").val(data.remarks);
                    $("#remarks_2").prop('disabled', false);
                    $("#api_key_2").val(data.api_key);
                    $("#api_key_2").prop('disabled', false);
                    $("#secret_key_2").val(data.credentials.secret_key);
                    $("#secret_key_2").prop('disabled', false);
                }
                $('#exampleModal').modal('show', {backdrop: 'static'});
            });

        }


        function removeDemateSetup(id) {
            var result = confirm("Want to delete?");
            if (result) {
                var fd = new FormData();
                fd.append('id', id);
                $.ajax({
                    url: "/core/delete-demate_profiles/",
                    headers: {"X-CSRFToken": '{{csrf_token}}'},
                    data: fd,
                    cache: false,
                    processData: false,
                    contentType: false,
                    type: 'POST',
                    success: function (dataofconfirm) {
                        window.location.reload()
                    }
                });

            }
        }

        function showValue(that, identity) {
            var passInput = $("#" + identity);
            if (passInput.attr('type') === 'password') {
                passInput.attr('type', 'text');
                $(that).toggleClass("fa-eye-slash");

            } else {
                passInput.attr('type', 'password');
                $(that).toggleClass("fa-eye-slash");
            }

        }

        function copyMe(idx) {
            var copyText = document.getElementById(idx);
            copyText.select();
            copyText.setSelectionRange(0, 99999); // For mobile devices
            navigator.clipboard.writeText(copyText.value);
        }


    </script>
{% endblock %}