{% extends 'core/layout/base.html' %}
{% load static %}

{% block content %}
    <style>

        .img_height_width {
            width: 60% !important;
            height: 60% !important;
        }
    </style>

    <!-- page content -->
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <!--                <h3>User Profile</h3>-->
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 ">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Admin </h2>
                            <ul class="nav navbar-right panel_toolbox">
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="col-md-3 col-sm-3  profile_left">
                                <div class="profile_img text-dark">
                                    <div id="crop-avatar">
                                        <!-- Current avatar -->

                                        {% if request.user.userprofile %}
                                            {% if request.user.userprofile.image %}
                                                <img class="img-responsive avatar-view img_height_width"
                                                     src="{{ request.user.userprofile.image.url }}" alt="">
                                            {% else %}
                                                <img class="img-responsive avatar-view img_height_width"
                                                     src="/static/wheel.gif" alt="">
                                            {% endif %}
                                        {% else %}
                                            <img class="img-responsive avatar-view img_height_width"
                                                 src="/static/wheel.gif" alt="">
                                        {% endif %}


                                    </div>
                                </div>
                                <h3 class="text-dark">
                                    {{ request.user.first_name }}
                                </h3>

                                <ul class="list-unstyled user_data text-dark">
                                    <li><i class="fa fa-envelope user-profile-icon"></i>
                                        {{ request.user.username }}
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-sm-9 text-dark">
                                <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                        <li role="presentation" class="active"><a href="#tab_content3" role="tab"
                                                                                  id="profile-tab2" data-toggle="tab"
                                                                                  aria-expanded="true">Profile</a>
                                        </li>
                                        <li role="presentation" class=""><a href="#tab_content2" role="tab"
                                                                            id="profile-tab"
                                                                            data-toggle="tab" aria-expanded="false">Change
                                            Password</a>
                                        </li>

                                    </ul>
                                    <div id="myTabContent" class="tab-content offset-md-1 col-md-9">
                                        <div role="tabpanel" class="tab-pane fade" id="tab_content2"
                                             aria-labelledby="profile-tab">
                                            <div id="change_password"></div>
                                            <form action="javascript:changePassword();" method="post"
                                                  id="change_password_form">
                                                <input type="hidden" name="user_id" id="user_id"
                                                       value="{{ request.user.id }}">
                                                <h1>Change Password</h1>
                                                <div class="mb-3">
                                                    <label class="text-dark" for="old_password">Old Password</label>
                                                    <input type="password" class="grpreq2 form-control"
                                                           id="old_password"
                                                           name="old_password" placeholder="Old Password"
                                                           autocomplete="off"/>
                                                    <span class="help-block errorDiv" id="old_password_error"></span>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="text-dark" for="new_password">New Password</label>
                                                    <input type="password" class="grpreq2 form-control"
                                                           id="new_password"
                                                           name="new_password" placeholder="New Password"
                                                           autocomplete="off"/>
                                                    <span class="help-block errorDiv" id="new_password_error"></span>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="text-dark" for="confirm_password">Confirm
                                                        Password</label>
                                                    <input type="password" class="grpreq2 form-control"
                                                           id="confirm_password" name="confirm_password"
                                                           placeholder="Confirm Password" autocomplete="off"/>
                                                    <span class="help-block errorDiv"
                                                          id="confirm_password_error"></span>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="offset-md-1 col-md-10 mb-2 mt-3 d-flex align-items-baseline">
                                                        <button type="button" class="btn btn-block btn-outline-danger">
                                                            Cancel
                                                        </button>
                                                        <button type="submit" class="btn btn-block btn-outline-primary">
                                                            Submit
                                                        </button>
                                                    </div>

                                                </div>

                                            </form>

                                        </div>
                                        <div role="tabpanel" class="tab-pane active" id="tab_content3"
                                             aria-labelledby="profile-tab">
                                            <div id="edit_profile"></div>
                                            <form action="javascript:editProfile();" method="post" id="profile_form">
                                                <input type="hidden" name="u_id" id="u_id"
                                                       value="{{ request.user.id }}">
                                                <h1>
                                                    {{ request.user.first_name }}
                                                </h1>
                                                <div class="mb-3">
                                                    <label class="text-dark" for="full_name">Full Name </label>
                                                    <input type="text" class="grpreq form-control" id="full_name"
                                                           name="full_name" placeholder="Full Name" autocomplete="off"
                                                           value="{{ request.user.first_name }}"/>
                                                    <span class="help-block errorDiv" id="full_name_error"></span>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="text-dark" for="email">Email </label>
                                                    <input type="email" class="grpreq form-control" id="email"
                                                           name="email"
                                                           placeholder="Email" autocomplete="off"
                                                           value="{{ request.user.username }}"/>
                                                    <span class="help-block errorDiv" id="email_error"></span>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="text-dark" for="img">Picture </label>
                                                    <input type="file" class="form-control p-0 pt-1 pl-1 pb-1" id="img"
                                                           name="img"
                                                           accept="image/*" placeholder="Profile Image"
                                                           autocomplete="off"/>
                                                    <span class="help-block errorDiv" id="img_error"></span>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="offset-md-1 col-md-10 mb-2 mt-3 d-flex align-items-baseline">
                                                        <button type="button" class="btn btn-block btn-outline-danger">
                                                            Cancel
                                                        </button>
                                                        <button type="submit" class="btn btn-block btn-outline-primary">
                                                            Submit
                                                        </button>
                                                    </div>
                                                </div>

                                            </form>
                                        </div>
                                        <div role="tabpanel" class="tab-pane " id="tab_content4"
                                             aria-labelledby="profile-tab">
                                            <div id="company_setting"></div>
                                            <form action="javascript:companySetting();" method="post"
                                                  id="company_setting_form">
                                                <h1>Company Setting</h1>


                                                <div class="mb-3">
                                                    <label class="text-dark" for="title">Title</label>
                                                    <input type="text" class="grpreq form-control" id="title"
                                                           name="title"
                                                           placeholder="Title" autocomplete="off"
                                                           value="{{ company.title }}"/>
                                                    <span class="help-block errorDiv" id="title_error"></span>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="text-dark" for="website">Website</label>
                                                    <input type="text" class=" form-control" id="website" name="website"
                                                           placeholder="Website" autocomplete="off"
                                                           value="{{ company.title }}"/>
                                                    <span class="help-block errorDiv" id="website_error"></span>
                                                </div>

                                                <div class="mb-3">
                                                    <label class="text-dark" for="phone">Phone</label>
                                                    <input type="text" class=" form-control" id="phone" name="phone"
                                                           placeholder="Phone" autocomplete="off"
                                                           value="{{ company.phone }}"/>
                                                    <span class="help-block errorDiv" id="phone_error"></span>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="text-dark" for="fex">FAX</label>
                                                    <input type="text" class=" form-control" id="fax" name="fax"
                                                           placeholder="Fax" autocomplete="off"
                                                           value="{{ company.fax }}"/>
                                                    <span class="help-block errorDiv" id="fax_error"></span>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="text-dark" for="address">Address</label>
                                                    <input type="text" class=" form-control" id="address" name="address"
                                                           placeholder="Address" autocomplete="off"
                                                           value="{{ company.address }}"/>
                                                    <span class="help-block errorDiv" id="address_error"></span>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="text-dark" for="img">Picture</label>
                                                    <input type="file" class="form-control p-0 pl-1 pt-1 pb-1" id="img"
                                                           name="img"
                                                           accept="image/*" placeholder="Profile Image"
                                                           autocomplete="off"/>
                                                    <span class="help-block errorDiv" id="img_error"></span>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="offset-md-1 col-md-10 mb-2 mt-3 d-flex align-items-baseline">
                                                        <button type="button" class="btn btn-block btn-outline-danger">
                                                            Cancel
                                                        </button>
                                                        <button type="submit" class="btn btn-block btn-outline-primary">
                                                            Submit
                                                        </button>
                                                    </div>
                                                </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->
{% endblock %}

{% block javascript %}

    <script type="text/javascript">


        function changePassword() {
            var a = validateEntry('change_password', '')
            var password = $('#new_password').val();
            var confirm_password = $('#confirm_password').val();

            if (password !== confirm_password) {
                ShowNotify('Error', 'Password & Confirm Password Mismatch', 'error');
                $('#new_password').focus();
                $('#new_password').css('border', '1px solid red');
                $('#confirm_password').css('border', '1px solid red');
                return false;
            }

            if (a === "1") {
                ShowNotify('Error', 'Fields are required', 'error');
                return false;
            }

            document.getElementById('change_password').innerHTML = "<div style='background: #fff;text-align:center'><img width='80px' src='/static/wheel.gif'/><div>";
            var myform = document.getElementById("change_password_form");
            var fd = new FormData(myform);
            fd.append('csrfmiddlewaretoken', '{{csrf_token}}');
            $.ajax({
                url: "/core/change_password/",
                data: fd,
                cache: false,
                processData: false,
                contentType: false,
                type: 'POST',
                success: function (dataofconfirm) {
                    $('#old_password').val('');
                    $('#new_password').val('');
                    $('#confirm_password').val('');
                    document.getElementById('change_password').innerHTML = '';
                    ShowNotify('Congratulation', 'Password is updated', 'success');
                },
                error: function (data) {
                    document.getElementById('change_password').innerHTML = '';
                    ShowNotify('Error', data.responseJSON.error, 'error');
                }
            });
        }


        function editProfile() {
            var a = validateEntry('edit_profile');
            if (a === "1") {
                ShowNotify('Error', 'Fields are required', 'error');
                return false;
            }

            document.getElementById('edit_profile').innerHTML = "<div style='background: #fff;text-align:center'><img width='80px' src='/static/wheel.gif'/><div>";
            var myform = document.getElementById("profile_form");
            var fd = new FormData(myform);
            var token = '{{ csrf_token }}';
            fd.append('csrfmiddlewaretoken', token);
            $.ajax({
                url: "/core/edit_profile/",
                data: fd,
                cache: false,
                processData: false,
                contentType: false,
                type: 'POST',
                success: function (dataofconfirm) {
                    document.getElementById('edit_profile').innerHTML = '';
                    ShowNotify('Congratulation', 'Profile is updated', 'success');
                    window.location.reload()

                },
                error: function (data) {
                    document.getElementById('edit_profile').innerHTML = '';
                    ShowNotify('Error', data.responseJSON.error, 'error');
                }
            });
        }


    </script>
{% endblock %}