{% extends 'core/layout/base.html' %}
{% block content %}

    <div id="stat"></div>
    <div class="right_col" role="main">
        <div class="row">
            <div class="col-md-12">
                <p class="text-dark font-weight-bold h4">Select Client ID/Broker:</p>

                <div class="col-md-12">
                    <p class=" font-weight-bold h5">Select Account:</p>
                    <div class="row">

                        {% for obj in demates %}
                            <div class="x_panel tiles col-md-3 col-sm-6 m-2 pt-4 rounded">
                                <div class="logo text-center">
                                    <img src="{{ obj.image }}" alt="" class="demate_profile"
                                         style="width: 100px;  height: 100px;}">
                                </div>
                                <div class="context text-center mt-1 ">
                                    <p class=" text-uppercase font-weight-bold mt-1">
                                        {{ obj.demate_title }}
                                    </p>

                                    <button type="button"
                                            onClick="FetchFunds('{{ obj.demate }}', '{{ obj.image }}')"
                                            class="btn btn-primary btn-block mt-2">Show Funds
                                    </button>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div>
                </div>
            </div>
        </div>


        <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Demat Setup</h5>
                        <button type="button"
                                style="width: 50px;"
                                class="btn btn-block btn-outline-danger" data-dismiss="modal">X
                        </button>
                    </div>
                    <div>

                        <div class="modal-body" id="modalBody">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 ">
                                    <div class="x_panel">
                                        <div class="x_title">

                                            <h2>Funds</h2>
                                            <ul class="nav navbar-right panel_toolbox">

                                            </ul>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="x_content">
                                            <div class="row">
                                                <div class="col-md-6 offset-md-3">
                                                    <div class="logo text-center">
                                                        <img src="" id="demate_img"
                                                             alt="" class="demate_profile"
                                                             style="width: 100px;  height: 100px;">
                                                    </div>
                                                    <div class="form-group row">
                                                        <input type="hidden" id="demate_id"/>


                                                        <div class="col-md-12 m-2">
                                                            <label class="control-label h6 text-dark ">Funds Available:
                                                                <input disabled id="funds" value=""/> </label>

                                                        </div>


                                                        <div class=" d-flex align-items-baseline col-md-12 m-2">
                                                            <button type="button"
                                                                    class="btn btn-block btn-outline-danger"
                                                                    data-dismiss="modal" id="closed">Close
                                                            </button>
                                                        </div>


                                                    </div>

                                                    <div id="loading_div"></div>


                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>


        function FetchFunds(demate_type, image_url) {
            $("#demate_img").attr("src", image_url);
            $('#demate_id').val(demate_type);
            $('#funds').val('');
            $.get("/core/get_funds/?demate_id=" + demate_type,
                function (data) {
                    $('#funds').val(data.funds);
                    $('#exampleModal').modal('show', {backdrop: 'static'});
                }).fail(function (error) {
                ShowNotify('Error', error.responseJSON.error, 'error');
            });
        }


    </script>

{% endblock %}