{% extends 'core/layout/base.html' %}
{% block content %}

    <div id="stat"></div>
    <div class="right_col" role="main">
        <div class="row">
            <div class="col-md-12">
                <p class="text-dark font-weight-bold h4">Select Client ID/Broker:</p>

                <div class="col-md-12">
                    <p class=" font-weight-bold h5">Select Account:</p>
                    <div class="row">

                        {% for obj in demates %}
                            <div class="x_panel tiles col-md-3 col-sm-6 m-2 pt-4 rounded">
                                <div class="logo text-center">
                                    <img src="{{ obj.image }}" alt="" class="demate_profile"
                                         style="width: 100px;  height: 100px;}">
                                </div>
                                <div class="context text-center mt-1 ">
                                    <p class=" text-uppercase font-weight-bold mt-1">
                                        {{ obj.demate_title }}
                                    </p>

                                    <button type="button"
                                            onClick="FetchLiveData('{{ obj.demate }}','{{ obj.image }}')"
                                            class="btn btn-primary btn-block mt-2">Fetch Live Positions
                                    </button>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div>
                </div>
            </div>
        </div>


        <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Demat Setup</h5>
                        <button type="button"
                                style="width: 50px;"
                                class="btn btn-block btn-outline-danger" data-dismiss="modal">X
                        </button>
                    </div>
                    <div>

                        <div class="modal-body" id="modalBody">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 ">
                                    <div class="x_panel">
                                        <div class="x_title">

                                            <h2>Live Holdings</h2>
                                            <ul class="nav navbar-right panel_toolbox">

                                            </ul>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="x_content">
                                            <div class="row">
                                                <div class="col-md-6 offset-md-3">
                                                    <div class="logo text-center">
                                                        <img src="" id="demate_img"
                                                             alt="" class="demate_profile"
                                                             style="width: 100px;  height: 100px;">
                                                    </div>

                                                    <div class="table-responsive text-nowrap">

                                                        <table class="table table table-bordered" id="table">
                                                            <tr class="bg-light">
                                                                <th>Name</th>
                                                                <th>Buy Quantity</th>
                                                                <th>Sell Quantity</th>
                                                                <th>Net Quantity</th>
                                                                <th>LTP</th>
                                                                <th>Realised Profit</th>
                                                                <th>Lot Size</th>
                                                                <th>Strike Price</th>
                                                                <th>Expiry Date</th>
                                                                <th>OPT Type</th>
                                                            </tr>
                                                        </table>
                                                    </div>

                                                    <div id="loading_div"></div>


                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>


        function FetchLiveData(demate_type, image_url) {
            document.getElementById('loading_div').innerHTML = "<div style='background: #fff;text-align:center'><img width='80px' src='/static/wheel.gif'><div>";
            $('#exampleModal').modal('show', {backdrop: 'static'});
            $("#demate_img").attr("src", image_url);
            $('#demate_id').val(demate_type);

            $('#table').empty();
            $('#table').append('<tr class="bg-light"> <th>Name</th><th>Buy Quantity</th><th>Sell Quantity</th><th>Net Quantity</th><th>LTP</th><th>Realised Profit</th><th>Lot Size</th><th>Strike Price</th><th>Expiry Date</th><th>OPT Type</th></tr>');

            $.get("/core/get_user_live_positions_data/?demate_id=" + demate_type,
                function (data) {
                    document.getElementById('loading_div').innerHTML = "";
                    var results = data.data;
                    for (var i = 0; i < results.length; i++) {
                        $('#table').append('<tr> <td>' + results[i].display_name + '</td><td>' + results[i].tot_buy_qty + '</td>' +
                            '<td>' + results[i].tot_sell_qty + '</td><td>' + results[i].net_qty + '</td><td>' + results[i].last_traded_price + '</td>' +
                            '<td>' + results[i].realised_profit + '</td><td>' + results[i].lot_size + '</td><td>' + results[i].strike_price + '</td>' +
                            '<td>' + results[i].expiry_date + '</td><td>' + results[i].opt_type + '</td></tr>');
                    }

                }).fail(function (error) {
                document.getElementById('loading_div').innerHTML = "";

                ShowNotify('Error', error.responseJSON.error, 'error');
            });
        }


    </script>

{% endblock %}